# choose st-link/j-link/dap-link etc.
#adapter driver cmsis-dap
#transport select swd
source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32f4x.cfg]
# download speed = 10MHz
adapter speed 10000

#前两行设置了仿真器的类型和接口，下面几行指定了Flash大小、芯片类型、下载速度等。